.component-music-player {
  padding: 15px;
  .player-cover {
    width: calc(100vw - 80px);
    aspect-ratio: 1 / 1;
  }
}
.slide-up-enter {
  transform: translateY(50vh);
}
.slide-up-enter-active {
  transform: translateY(0);
  transition: transform 200ms linear;
}
.slide-up-enter-done {
  transform: translateY(0);
}
.slide-up-exit {
  transform: translateY(0);
}
.slide-up-exit-active {
  transform: translateY(50vh);
  transition: transform 200ms linear;
}